#root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 2em;
  padding-bottom: 5em;
  background-color: rgb(237, 250, 250);
}

@media (min-width: 768px) {
  body {
    margin-left: 10em;
    margin-right: 10em;
  }
}

/*form {
  display: flex;
  background-color: white;
  align-items: center;
}*/

input {
  padding: 0.5em;
  font-size: 2em;
  border: none;
}

input:focus {
  outline: none;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.logout-btn-div {
  text-align: right;
}

.register-and-login-btns {
  display: flex;
  justify-content: flex-end;
}

.register-btn {
  margin-right: 15px;
}

.register-btn,
.login-btn,
.logout-btn {
  padding: 10px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

.register-btn:hover,
.login-btn:hover,
.logout-btn:hover {
  background-color: black;
  color: azure;
}

/*register form start*/
#login-form,
#register-form {
  /*position: relative;*/
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#login-form .close-btn,
#register-form .close-btn {
  cursor: pointer;
  font-size: 25px;
}

#login-form h2,
#register-form h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

#login-form .form-group,
#register-form .form-group {
  margin-bottom: 15px;
  margin-right: 15px;
}

#login-form label,
#register-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#login-form input[type="text"],
#login-form input[type="password"],
#register-form input[type="text"],
#register-form input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#login-form button,
#register-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-form button:hover,
#register-form button:hover {
  background-color: #0056b3;
}
/*register form end*/


.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs .left {
  display: flex;
  gap: 2em;
  cursor: pointer;
}

.tab-active {
  border-bottom: 4px rgb(202, 129, 2) solid;
  padding-bottom: 0.5em;
}

.create-recipe-btn {
  background-color: rgb(154, 153, 153);
  color: black;
  font-size: 1.5em;
  padding: 0.6em;
  margin: auto;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2em;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 1em;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  gap: 1.5em;
  height: 350px;
}

.recipe-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.recipe-card h3 {
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-card-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.view-more-btn {
  font-size: 1.5em;
  padding: 1em;
  font-weight: bold;
  margin: auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.header {
  position: relative;
}

.header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  opacity: 50%;
  border-radius: 1em;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  background-color: black;
  opacity: 80%;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

/*modal styles*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 1; /* Ensure the overlay is behind the modal (which has z-index: 2) */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: white;
  padding: 2em;
  border-radius: 4px;
  max-width: 500px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-btn {
  cursor: pointer;
  font-size: 25px;
}

#create-recipe-form {
  background-color: rgb(33, 33, 33);
  background-blend-mode: overlay;
  color: white;
  font-size: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-left: 18px solid yellowgreen;
  border-bottom: 18px solid khaki;
  border-right: 18px solid tomato;
  border-top: 18px solid teal;
  margin: 10px;

  background-image: url('/recipe-form-bg.jpg');
  background-size: cover;
  background-position: center;
}

#create-recipe-form h4 {
  margin: 0px;
}

#create-recipe-form label {
  margin-top: 20px;
  font-size: 25px;
}
#create-recipe-form input[type="submit"] {
  margin-top: 20px;
  color: black;
}

#create-recipe-form input {
  color: black;
  font-size: 20px;
  margin-left: 10px;
}

#create-recipe-form input:disabled {
  opacity: 0.8;
}

#create-recipe-form input::placeholder {
  font-size: 14px;
  color: rgb(193, 193, 193);
}

#create-recipe-form textarea:disabled {
  opacity: 0.8;
}

#create-recipe-form select {
  color: black;
  font-size: 30px;
  margin-left: 10px;
}